* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import './scss/colors';

body {
  background: $color_primary;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $color_dark;
}

a,
a:visited,
a:active {
  color: $color_dark;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

@import './scss/navbar';
@import './scss/footer';
@import './scss/home';
@import './scss/login';
@import './scss/selectedDiscountProducts';
@import './scss/productGallery';